img.twenty-five-percent {
   width: 25%;
}

body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

img.hundred-percent {
   width: 100%;
}

div.padded{
	padding-top: 5px;
	padding-bottom: 5px;
}
